/backups/
/bookmarks
/elpa/
/elpy/
/eshell/
/projectile-bookmarks.eld
/projectile.cache
/recentf
/recentf~
/semanticdb/
/server/
/spell-fu/
/tmp/
/transient/
/myinit.el
/tramp
/org-journal.cache
/full_emacs_conf.el
/.emacs~
/.todos.md.swp
/auto-save-list/
/anaconda-mode/
/url/
